<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chotanews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>-->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>


    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />


    <queries>
        <package android:name="com.google.android.gms" />
    </queries>

    <application
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="chotanews"
        android:requestLegacyExternalStorage="true">
        <meta-data
            android:name="com.webengage.sdk.android.environment"
            android:value="in" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:fullBackupContent="false"
            android:requestLegacyExternalStorage="true"
            android:allowBackup="false"
            android:hardwareAccelerated="true"
            android:enableOnBackInvokedCallback="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

<!--            <meta-data-->
<!--                android:name="com.webengage.sdk.android.debug"-->
<!--                android:value="true" />-->

<!--            <meta-data-->
<!--                android:name="com.webengage.sdk.android.key"-->
<!--                android:value="in~~1341061ba" />-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <!-- Your Dynamic Link Domain -->
                <data
                    android:host="chotanews.page.link"
                    android:scheme="https"/>
            </intent-filter>


<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data-->
<!--                    android:host="example.web.app"-->
<!--                    android:pathPrefix="/welcome"-->
<!--                    android:scheme="http" />-->
<!--                <data-->
<!--                    android:host="example.web.app"-->
<!--                    android:pathPrefix="/welcome"-->
<!--                    android:scheme="https" />-->
<!--            </intent-filter>-->
            <!--            <intent-filter android:autoVerify="true">-->
            <!--                <action android:name="android.intent.action.VIEW" />-->
            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->
            <!--                <data android:scheme="https" android:host="apps.signitivessoft.com" />-->
            <!--            </intent-filter>-->
            <!--  <intent-filter>
                      <action android:name="android.intent.action.VIEW" />
                      <category android:name="android.intent.category.DEFAULT" />
                      <category android:name="android.intent.category.BROWSABLE" />
                      <data android:scheme="myapp" android:host="example" />
                  </intent-filter>-->
            <!-- <meta-data android:name="flutter_deeplinking_enabled" android:value="true" />
                  <intent-filter >
                      <action android:name="android.intent.action.VIEW" />
                      <category android:name="android.intent.category.DEFAULT" />
                      <category android:name="android.intent.category.BROWSABLE" />
                      &lt;!&ndash; Accepts URIs that begin with YOUR_SCHEME://YOUR_HOST &ndash;&gt;
                      <data
                          android:scheme="https"
                          android:host="hostingflutter.s3.us-east-1.amazonaws.com" />
                  </intent-filter>

      -->
            <!--            &lt;!&ndash; App Link sample &ndash;&gt;-->
            <!--            <intent-filter android:autoVerify="true">-->
            <!--                <action android:name="android.intent.action.VIEW" />-->
            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->
            <!--                <data android:scheme="https" android:host="www.chotanews.com" />-->
            <!--            </intent-filter>-->
            <!--            &lt;!&ndash; Deep Link sample &ndash;&gt;-->
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.VIEW" />-->
            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->
            <!--                &lt;!&ndash; Add optional android:host to distinguish your app-->
            <!--                    from others in case of conflicting scheme name &ndash;&gt;-->
            <!--                <data android:scheme="flutterDeepLink" android:host="flutter-deep-link" />-->
            <!--                &lt;!&ndash; <data android:scheme="sample" /> &ndash;&gt;-->
            <!--            </intent-filter>-->
        </activity>
        <receiver
            android:name="com.webengage.sdk.android.WebEngageBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="com.webengage.sdk.android.key"
            android:value="in~~1341061ba" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:mimeType="application/pdf"/>
        </intent>
    </queries>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>